div{
    line-height: 50px;
    font-size: 30px;
    font-family: Arial;
}

button{
    border: 2px solid #000000;
    background-color: #fff;
    font-weight: bold;
    font-size: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
}
button.buy{
    margin-left: 30px;
    width: 80px;
    height: 50px;
    background-color: crimson;
}
button:disabled{
    opacity: 0.3;

}